[submodule "kwbase/vendor"]
	path = kwbase/vendor
	url = https://gitee.com/kwdb/kw-vendor.git
	branch = master
[submodule "kwbase/c-deps"]
	path = kwbase/c-deps
	url = https://gitee.com/kwdb/kw-cdeps.git
	branch = master
[submodule "kwdbts2/third_party"]
	path = kwdbts2/third_party
	url = https://gitee.com/kwdb/kw-third_party.git
	branch = master